<div class="msg" [ngClass]="alignmentClass">
    <div class="msg-avatar" [ngClass]="alignmentClass">
        <img [src]="message?.getAuthorThumbUrl()" alt="Avatar" >
    </div>
    <div class="msg-box" [ngClass]="alignmentClass">
        <div class="msg-header">
            <span>{{message?.getAuthorDisplayName()}}</span>
            <span>
                {{message?.getPublishingDate() | date:'dd/MM/yyyy'}}  &middot; {{message?.getPublishingDate() | date:'hh:mm'}}
            </span>
        </div>
        <div class="msg-bubble" [ngClass]="alignmentClass">
            <div>
                <p>{{message?.getText()}}</p>
            </div>
        </div>
    </div>
</div>
