<div class="container">
    
    <div class="content"> <!-- Main area (left)-->
        
        <div class="overlay" *ngIf="showOverlay"></div> <!-- White shadow -->

        <div class="conversation" #scroll (scroll)="onScroll($event)"> <!-- Chat -->
                <div *ngIf="messages?.length == 0" class="empty">
                    <app-empty-view></app-empty-view>
                </div>
                <app-message *ngFor="let msg of messages" [message]="msg" ></app-message>
        </div>

        
        <div class="tools"> <!--Input box and buttons-->
            <div>
                <form (ngSubmit)="onSubmit()">
                    <input
                        type="text"
                        [formControl]="textCtrl"
                        [placeholder]="textCtrlPlaceholder"
                        [attr.aria-placeholder]="textCtrlPlaceholder">
                    <div class="submit">
                        <button type="button" (click)="filterIsActive=true">Filter messages</button>
                        <button type="submit">Publish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div *ngIf="filterIsActive" class="filter"> <!-- Filter area (right)-->
        <app-filter 
            [members]="members" 
            (filterChange)="onFilterChange($event)"
            (close)="onFilterClose()">
        </app-filter>
    </div>

</div>
