<div class="container">
    <div class="overlay"></div>
    <div #scroll [scrollTop]="scroll.scrollHeight" class="conversation">
        <div class="messages">
            <app-message *ngFor="let msg of messages" [message]="msg"></app-message>
        </div>
    </div>
    <div class="tools">
        <div>
            <form (ngSubmit)="onSubmit()">
                <input type="text" [formControl]="textCtrl" [placeholder]="placeholderText" [attr.aria-placeholder]="placeholderText">
                <div class="submit">
                    <button type="submit">Publish</button>
                </div>
            </form>
        </div>
    </div>
</div>