<div class="container">
    <!-- Main area (left)-->
    <div class="content">
        <!-- Chat -->
        <div class="overlay" *ngIf="showOverlay"></div>
        <div class="conversation" #scroll (scroll)="onScroll($event)">
            <div class="messages">
                <app-message
                    *ngFor="let msg of messages"
                    [message]="msg"
                ></app-message>
            </div>
        </div>

        <!--Input box-->
        <div class="tools">
            <div>

                <form (ngSubmit)="onSubmit()">
                    <input
                        type="text"
                        [formControl]="textCtrl"
                        [placeholder]="placeholderText"
                        [attr.aria-placeholder]="placeholderText">
                    <div class="submit">
                        <button type="button" (click)="filterIsActive=true">Filter messages</button>
                        <button type="submit">Publish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Filter area (right)-->
    <app-filter 
        *ngIf="filterIsActive" 
        [members]="members" 
        [selectedMembers]="filteredMembers"
        (filterChange)="onFilterChange($event)"></app-filter>

</div>
