@mixin box-shadow-inset($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin border-top-shadow() {
  -webkit-box-shadow: 0px -4px 3px rgb(50 50 50 / 26%);
  -moz-box-shadow: 0px -4px 3px rgb(50 50 50 / 26%);
  box-shadow: 0px -4px 3px rgb(50 50 50 / 26%);
}

@mixin placeholder($color) {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
    opacity: 1; /* Firefox */
  }
  
  &::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }
  
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
  }
}