@mixin box-shadow-inset($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin border-bottom-shadow() {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

@mixin placeholder($color) {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
    opacity: 1; /* Firefox */
  }
  
  &::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }
  
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
  }
}