

@font-face {
    font-family: $font-family;
    src: url(./fonts/Univers_LT_55_Roman.ttf) format('openType');
    font-weight: 55;
}

@font-face {
    font-family: $font-bold;
    src: url(./fonts/Univers_LT_65_Bold.ttf) format('openType');
    font-weight: 65;
}

body {
    font-family: $font-family;
    letter-spacing: 0;
}

p {
    font-family: $font-family; 
    font-size: 16px;
    color: $colot-text-primary;
    line-height: 22px;
}
