


$font-family: 'Univers LT Std, 55 Roman';
$font-bold: 'Univers LT Std, 65 Bold';

$min-width: 375px;
$max-width: 1110px;
$min-height: 485px;
$max-height: 485px;

$shadow-color: #949494;
$color-background: #FFFFFF;
$color-button-text: #FFFFFF;
$color-type-1: #EFF2F7; // Messaggio tipo 1
$color-type-2: #C2CDDD; // Messaggio tipo2, bordo container
$color-gradient-top: #FFFFFF00;
$color-scrollbar-background: #0E141A1A;
$color-info: #667790; // Data, scrollbar
$colot-text-primary: #000000;
$color-text-displayname: #0E141A;
$color-text-hint: #CACFD5;
$color-accent: #D3135A;