$min-width: 375px;
$max-width: 1200px;

$shadow-color: #949494;
$msg-color1: #f1f4f9;
$msg-color2: #c5d1e0;
$scrollbar-color: #697b95;
$accent-color: #d5195e;
$border-light-color: #f7f7f7;
$text-primary-color: #626367;
$text-secondary-color: #a7adb3;
$text-dark-color: #333637;
$text-light-color: #e4e3e7;

$color-background: #FFFFFF;
$color-msg-type-1: #EFF2F7;
$color-msg-type-2: #C2CDDD;
$color-gradient-top: #FFFFFF00;
$color-scrollbar-background: #0E141A1A;
$color-info: #667790; // Data, scrollbar
$colot-text-primary: #000000;
$color-text-displayname: #0E141A;
$color-text-hint: #CACFD5;
$color-accent: #D3135A;