$min-width: 375px;
$max-width: 1200px;

$shadow-color: #949494;
$msg-color1: #f1f4f9;
$msg-color2: #c5d1e0;
$scrollbar-color: #697b95;
$accent-color: #d5195e;
$border-light-color: #f7f7f7;
$text-primary-color: #626367;
$text-secondary-color: #b5bcc2;
$text-dark-color: #333637;
$text-light-color: #e4e3e7;